h1,
h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h6 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #54588b;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );

  padding: 20px;
}
input {
  width: 200px;
  height: 25px;
  position: relative;
}

button {
  margin: auto;
  display: inline;
  border: none;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  text-align: center;
  width: 35px;
  height: 25px;
}