h1,
h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

h6 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #54588b;
}

p {
  font-family: "Roboto", sans-serif;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(216, 241, 230, 0.46) 0.1%,
    rgba(233, 226, 226, 0.28) 90.1%
  );

  padding: 20px;
}
input {
  width: 200px;
  height: 25px;
  position: relative;
}

button {
  margin: auto;
  display: inline;
  border: none;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
  text-align: center;
  width: 35px;
  height: 25px;
}
#search-engine {
  background-color: transparent;
  border: none;
  text-align: center;
  color: white;
}
.units {
  display: inline;
  font-size: 10px;
}
.fa-chevron-down {
  font-family: FontAwesome, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: transparent;
  border: none;
  width: 35px;
  height: 25px;
}
.container {
  height: 100%;
  display: block;
  margin: 80px auto;
  max-width: 600px;
  padding: 20px;
  box-shadow: 8px 8px 8px 0px rgb(37 39 89 / 8%);
  border-radius: 20px;
  background: linear-gradient(
    to bottom,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  color: #fff;
}
.date,
.description {
  text-align: center;
}

.now-temperature {
  text-align: left;
  font-size: 55px;
  font-weight: lighter;
}

.feels {
  text-align: right;
}

.pressure-value,
#humidity,
#wind,
.visibility {
  text-align: right;
}

.status1,
.now {
  font-size: 40px;
}
.date1,
.date2,
.date3,
.date4,
.date5,
.date6 {
  font-weight: bold;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
  text-align: center;
}
.col-sm-9 {
  width: 70%;
}

.col-sm-3 {
  width: 30%;
}
.col-3 {
  width: 10%;
}
.col-4,
.col-5,
.col-7 {
  width: 15%;
}

.col-6 {
  width: 40%;
}

.row-8,
.row-9,
.row-10,
.row-11,
.row-12,
.row-13 {
  height: 16.666666%;
}
